body {
  background-image: linear-gradient(to bottom, #f0f0f0, #ffffff);
  margin-top: 0px;
  margin-bottom: 0px;
}

.App {
  padding-left: 50px;
  padding-bottom: 50px;
  position: relative;
  transition: left 0.3s ease;
  left: 0;
}

.sidebar.open ~ .App {
  margin-left: 200px;
}

h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;  
}

.content-container {
  display: flex;
  flex-direction: row;
}

.left-section {
  flex-grow: 1;
  padding-right: 20px;
}

.right-section {
  width: 300px;
  /* Add any additional styling for the right section */
}

.weather-info {
  margin-top: 20px;
  /* Add any styling for the weather information section */
}

/* Map contianer not used yet */


.map-container {
  /* .Working.  padding left added to avoid functionality*/
  padding-right: 600px;
  padding-bottom: 500px;
  /* padding-left: 200px; */
  transform: translateX(var(--sidebar-width));
  transition: all 0.3s ease-in-out;
  height: 1000px;
  width: calc(100% - 900px);
  overflow: auto;
  filter: var(--dark-mode) brightness(0.8);
  /* transform: translateX(-200px); */
}

.sidebar.show {
  /* ..no need of this .. */ 
  transform: translateX(0);
}

.toggle-button {
  position: absolute;
  top: 10px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.toggle-button:hover {
  background-color: #f0f0f0;
}

.toggle-button:focus {
  outline: none;
}

.map-container {
  transition: transform 0.3s ease-in-out;
}

/* .map-container.map-shifted {
  transform: translateX(200px);
} */


.menu-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.sidebar {
  width: 200px;
  height: calc(100vh - 100px);
  float: left;
  padding: 10px;
  box-sizing: border-box;
}

/* .map-container {
  height: calc(100vh - 100px);
  width: calc(100% - 200px);
  margin: 0 auto;
} */

.App.dark-mode {
  background-color: #222;
  color: #29b5e1;
}

.dark-mode {
  background-color: #000000;
  color: #29b5e1;
}

text {
  fill: #333;
  font-size: medium;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

h4 {
  position: absolute;
  top: 100px;
  right: 500px;
}

h2 {
  position: absolute;
  top: 180px;
  right: 350px;
}

.selected {
  color: red;
}

.leaflet-index {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.leaflet-index-item {
  display: flex;
  z-index: 1004;
  align-items: center;
  margin-bottom: 4px;
  font-size: 12px;
}

.color-block {
  width: 10px;
  height: 10px;
  margin-right: 4px;
}

.range {
  color: #000000;
}

.leaflet-index-box {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
