.data-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  
  .get-data-button {
    position: absolute;
    top: 250px;
    right: 80px;
  }

  .data-buttons button {
    background-color: #3a8fa5;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .get-data-button button:hover {
    background-color: #2c6d86;
    transform: scale(1.05);
  }
  
  .get-data-button.dark-mode button {
    background-color: #444;
  }
  
  .get-data-button.dark-mode button:hover {
    background-color: #333;
  }
  
  .get-data-button button {
    background-color: #3a8fa5;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .radio-buttons{
    position: absolute;
    display: flex;
    top: 75px;
    right: 200px;
  }