.App {
  text-align: center;
}

h1 {
  margin: 20px 0;
}

.sidebar {
  width: 200px;
  height: calc(100vh - 100px);
  float: left;
  background-color: #f0f0f0;
  padding: 10px;
  box-sizing: border-box;
}

.map-container {
  height: calc(100vh - 100px);
  width: calc(100% - 200px);
  margin: 0 auto;
}

.App.dark-mode {
  background-color: #222;
  color: #29b5e1;
}

.dark-mode {
  background-color: #000000;
  color: #29b5e1;
}

.custom-tile-layer {
  background-color: #fff; /* Set the background color of land areas outside India to white */
}

.leaflet-container {
  background-color: #29b5e1; /* Set the background color of water areas to blue */
}

.leaflet-top.leaflet-right .leaflet-control-zoom {
  display: none; /* Hide the default zoom control */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #29b5e1;
} 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
